
@{
    ViewBag.Title = "CreateOrJoin";
}
<div class="row position-relative pl-2 pr-2">
    <div class="col-md-12">
        <img src="~/Images/headphones.jpg" alt="headphones" class="homeLayoutImg rounded shadow" />
        <img src="~/Images/transparentLogo.png" alt="transparentLogo" class="homeLogo p-5 align-items-center" />
    </div>

</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4 pl-4 pr-4 pb-4">
        <div class="card rounded shadow text-white h-100" style="background-color: #BD3D3A;">
            <div class="cardHead">Create New Group</div>
            @Html.ActionLink("Create", "Create", "Bands", null, new { @class = "btn btn-crimson btn-large" })
        </div>
    </div>
    <div class="col-md-4 pl-4 pr-4 pb-4">
        <div class="card rounded shadow text-white h-100" style="background-color: #BD3D3A;">
            <div class="cardHead">Join Existing Group</div>
            @Html.ActionLink("Join", "Join", "Bands", null, new { @class = "btn btn-crimson btn-large" })
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
