
@{
    ViewBag.Title = "CreateOrJoin";
}

<div class="row mh-100">
    <div class="col-md-6">
        <div class="card text-white bg-primary mt-5"
             style="max-width: 20rem;">
            <h5 class="card-header">Create New Group</h5>
            <a href="#" class="btn btn-primary">Create<a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-primary mt-5"
             style="max-width: 20rem;">
            <h5 class="card-header">Join Existing Group</h5>
            <a href="#" class="btn btn-primary">Join<a>
        </div>
    </div>
</div>
