@{
    ViewBag.Title = "Home Page";
}
<div class="row pt-2 pl-2 pr-2">
    <div class="col-md-12">
        <img src="~/Images/headphones.jpg" alt="headphones" class="homeLayoutImg rounded shadow" />
        <img src="~/Images/transparentLogo.png" alt="transparentLogo" class="homeLogo p-3 align-items-center"/>
    </div>
    
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4 pl-4 pr-4 pb-4">
        <div class="card rounded shadow bg-dark text-white h-100">
            <div class="cardHead">
                All of your band's music in one place
            </div>
            <div class="cardText">
                <p>Upload songs<br />Listen to your band's latest ideas</p> 
            </div>
        </div>
    </div>
    <div class="col-md-4 pl-4 pr-4 pb-4">
        <div class="card rounded shadow bg-dark text-white h-100">
            <div class="cardHead">
                Chat with your group
            </div>
            <div class="cardText">
                
                    <p>Real time chat messenging</p>
                
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
