.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
        }


        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

    .panel .slidedown .glyphicon, .chat .glyphicon {
        margin-right: 5px;
    }

.panel-body {
    overflow-y: auto;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.panel-text {
    font-weight: bold;

}
.from__chat {
    text-align: right;
}
.users__bar {
    background-color: #f2f2f2;
}

    .users__bar .__no__chat__ {
        
        padding: 4px;
        font-weight: 500;
        text-align: center;
    }

    .users__bar .panel-heading.users__heading {
        /*padding: 15px 15px;*/
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        color: #fff;
    }

    .users__bar .panel-body.users__body {
        padding: 0px;
    }

        .users__bar .panel-body.users__body .user__item {
            text-decoration: none;
        }

            .users__bar .panel-body.users__body .user__item span {
                color: #000;
                font-weight: 600;
                left: 7px;
                position: relative;
            }

            .users__bar .panel-body.users__body .user__item li {
                position: relative;
                display: block;
                padding: 10px 10px;
                background-color: #e6e6e6;
                border: 1px solid #ddd;
            }

                .users__bar .panel-body.users__body .user__item li.active {
                    background-color: rgba(128, 128, 128, 0.425);
                }

            .users__bar .panel-body.users__body .user__item .avatar {
                display: inline-block;
            }

                .users__bar .panel-body.users__body .user__item .avatar img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

            .users__bar .panel-body.users__body .user__item .status-bar {
                /*width: 10px;
                height: 10px;*/
                border-radius: 50%;
                background-color: rgba(128, 128, 128, 0.425);
                display: inline-block;
                margin: 0px 10px 0px;
            }

                .users__bar .panel-body.users__body .user__item .status-bar.active {
                    background-color: green;
                }

.chat__body {
    display: none;
    position: relative;
    background-color: #f2f2f2;
    height: 600px;
}

    .chat__body .chat__main .__chat__ {
        padding: 15px 15px;
        border-radius: 20px;
        margin: 20px 20px 0px 20px;
        width: 70%;
    }

        .chat__body .chat__main .__chat__ p {
            font-weight: 400;
        }

            .chat__body .chat__main .__chat__ p.delivery-status {
                display: none;
                font-size: 12px;
                float: right;
                top: -10px;
                position: relative;
            }

        .chat__body .chat__main .__chat__.from__chat {
            background-color: #d9d9d9;
        }

        .chat__body .chat__main .__chat__.receive__chat {
            background-color: #4d9aff;
            float: right;
            color: #fff;
        }

    .chat__body .chat__type__body {
        position: absolute;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

        .chat__body .chat__type__body .chat__type {
            background-color: #e6e6e6;
            width:inherit;
            max-width: 100%;
        }

            .chat__body .chat__type__body .chat__type textarea {
                width: inherit;
                background-color: inherit;
                padding: 10px 10px 0px;
                border: none;
                display: inline-block;
            }

            .chat__body .chat__type__body .chat__type #sendMessage {
                position: relative;
                display: inline-block;
                top: -15px;
                width: 14%;
            }

    .chat__body .typing_display__open {
        bottom: 30px;
    }

    .chat__body .chat__typing {
        position: absolute;
        display: none;
        height: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        background-color: #f2f2f2;
        padding: 5px;
    }

        .chat__body .chat__typing span {
            font-style: italic;
            font-size: 12px;
            color: #999999;
        }